/*stylesheet*/

 /* vars */
 :root {
   --base-font-size: 16px;
   --fluid-typography-ratio: 0.9;
 }

 body {
 	margin: 0;
 }

 a:focus,button:focus,input:focus,textarea:focus {outline: none;}

 .wrapper {
  position: relative;
 	margin: 0 auto;
  padding: 0 2rem;
 	max-width: 860px;
 }

 #home {

 }

 .home-inner {
   background: white;
   margin-top: 4rem 0;
 }

 .home-inner .home-graphic {
  margin: 0 10rem;
 }


.home-inner .home-graphic img {
    display: block;
    width: 100%;
    height: auto;
 }

#home-inner .home-nav-inner {
   margin-left: 2rem;
}

#home-inner .home-nav-inner p {
   margin-top: 0;
}

#home-inner .home-graphic img {
   display: block;
   width: 100%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}

#home-inner .home-nav-inner img{
   display: block;
   width: 65%;
   height: auto;
}

#home-inner .intro h2 {
   margin-top: 0;
}

.recipe {
  position: relative;
  margin: 0 10rem;
  padding: 5px 0;
  background: #333;
  background-image: url("../images/chalkboard.jpg");
}

.recipe-inner {
  background: #fff;
  margin: 0 5px;
  padding: 1rem;
}

.recipe-img-holder {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.recipe img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 2rem auto;
}

.recipe p {
  margin-top: 0;
}

.recipe h3 {
  margin-top: 0;
}

.recipe p:last-child {
  margin-bottom: 0;
}


 /* Masthead */

 #masthead {
 	background-color: white;
 	padding: 0 1rem;
  margin: 2rem 0;
 }

 #nav {
 	background-color: white;
 }

 #logo {
 	padding: 1rem 0;
 }

 #logo #logo-holder {
   position: relative;
   color: var(--body-color);
   display: flex;
   align-items: center;
 }

 #logo a {
   margin-left: auto;
   margin-right: auto;	
 }

 #logo img {
 	width: 100%;
 	height: auto;
 	display: block;
 }

 #nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0; 
  margin: 0;
}


 /* media queries */

 @media all and (max-width: 699px) { 

   .home-inner {
    margin: 0 2rem;
   }

   .home-inner .home-graphic, .recipe {
    margin: 0 0;
   }

   #masthead {
     padding-bottom: 1rem;
   }

   #logo #logo-holder {
     justify-content: center;
     margin: 1rem 0;
   }

   #logo a {
   	width: 75%;
   }

 }

 @media all and (min-width: 700px) { 

   body{
     font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
   }

 }

 @media all and (min-width: 1800px) {

   body{
     font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
   }

 }

 .container {
  position: relative;
  text-align: center;
  color: black;
}
/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  padding: 1em;
}
/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}


