/*stylesheet*/

 /* vars */
 :root {
   --base-font-size: 16px;
   --fluid-typography-ratio: 0.9;
 }

 body {
 	margin: 0;
 }

 a:focus,button:focus,input:focus,textarea:focus {outline: none;}

 .wrapper {
   position: relative;
 	margin: 0 auto;
 	max-width: 960px;
 }

 #home {

 }

.home-inner {
   background: white;
   margin-top: 4rem 0;
 }

.home-inner .home-graphic img {
   display: block;
   width: 100%
   height:auto;
}

#home-inner .home-nav-inner {
   margin-left: 2rem;
}

#home-inner .home-nav-inner p {
   margin-top: 0;
}

#home-inner .home-graphic img {
   display: block;
   width: 100%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}

#home-inner .home-nav-inner img{
   display: block;
   width: 65%;
   height: auto;
}

#home-inner .intro h2 {
   margin-top: 0;
}

.recipe {
   position: relative;
   margin: 0 30%;
 }

 .recipe img {
   width: 100%;
   height: auto;
 }

 .recipe .overlay {
   position: absolute;
   z-index: 1;
   width: calc(100% - 4rem);
   padding: 2rem;
 }

 .recipe .overlay p {
   font-size: .75em;
   margin-top: 0;
 }


 /* Masthead */

 #masthead {
 	background-color: white;
 	padding: 0 1rem;
 }

 #nav {
 	background-color: white;
 }

 #logo {
 	padding: 1rem 0;
 }

 #logo #logo-holder {
   position: relative;
   color: var(--body-color);
   display: flex;
   align-items: center;
 }

 #logo a {
 	width: 30%;
   margin-left: auto;
   margin-right: auto;	
 }

 #logo img {
 	width: 100%;
 	height: auto;
 	display: block;
 }

#nav .nav-inner {
   margin-left: 2rem;
}

#nav .nav-inner p {
   margin-top: 0;
}

#nav .nav-inner img{
   display: block;
   width: 50%;
   height: auto;
}



 /* Thing */

 #thing {
   background: #000;
   color: #fff;
   overflow: hidden;
   display: flex;
   align-items: center;
 }

 #thing-inner {
   padding: 15rem 10rem;
 }

 #thing-inner h1 {
   margin-top: 0;
 }

 /* Slider */

 #slider {
   overflow: hidden;
 }

 #slider .prev, #slider .next {
   position: absolute;
   z-index: 2;
   margin: 1rem;
   font-size: 3em;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .prev {
   left: 0;
 }

 .next {
   right: 0;
 }

 .prev span, .next span {
   cursor: pointer;
   display: block;
   background: #fff;
 }

 #slider-inner {

 }

 #slider .slide {

 }

 #slider img {
   display: block;
   height: auto;
   width: 100%;
 }



 /* media queries */

 @media all and (max-width: 699px) { 

   #masthead {
     padding-bottom: 1rem;
   }

   #logo #logo-holder {
     justify-content: center;
     margin: 1rem 0;
   }

   #logo a {
   	width: 25%;
   }

 }

 @media all and (min-width: 700px) { 

   body{
     font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
   }

 }

 @media all and (min-width: 1800px) {

   body{
     font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
   }

 }

 .container {
  position: relative;
  text-align: center;
  color: black;
}
/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  padding: 1em;
}
/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}


